<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="0132dc1ad383fd56-f273432dc6b95693-eec26b99c8dc845c"/>
    <add key="ApiUser" value="jpilson@vivaldicap.com-hl"/>
    <add key="ApiBaseUrl" value="https://test.hiddenlevers.com/l/api/v1/"/>
  </appSettings>
</configuration>
